body.menu-open {
  position: fixed;
  overflow: hidden;
  z-index: 9999 !important;

  .menu {
    opacity: 1;
    top: 52px;
    z-index: 9999 !important;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  flex-shrink: 0;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
